@{

    ViewBag.title = "Log in page";
}

    <form method="post">
        <input name="Username" type="text" />
        <input name="Password" type="password"  />
        <input id="Submit" type="submit" value="Login" />

    </form>
